# Filtering Joins

**Mutating versus filtering joins**  
Mutating joins:  
Combines data from two tables based on matching observations in both tables  
Filtering joins:  
Filter observations from table based on whether or not they match an observation in another table

# Semi Joins


Step 1 - Inner Join  
Merge the two tables with an inner join.   
>genres_tracks = genres.merge(top_tracks, on='gid') 

Step 2 - semi-join 
This line of code returns a Boolean Series of true or false values.
> genres['gid'].isin(genres_tracks['gid'])  

Uses a method called isin(), which compares every 'gid' in the genres table to the 'gid' in the genres_tracks table.  
This will tell us if our genre appears in our merged genres_tracks table.  

Step 3 - semi-join
>genres_tracks = genres.merge(top_tracks, on='gid')  
>top_genres = genres[genres['gid'].isin(genres_tracks['gid'])]

# Anti-join
Anti-Joins return the observations in the left table that do not have a matching observation in the right table.  
It also only returns the columns from the left table. 

Step 1
Use a left join returning all of the rows from the left table.  
>genres_tracks = genres.merge(top_tracks, on='gid', how='left', indicator=True)

With indicator set to True, the merge method adds a column called "_merge" to the output.  
This column tells the source of each row. 

Step 2  
Use the "loc" accessor and "_merge" column to select the rows that only appeared in the left table and return only the "gid" column from the genres_tracks table.  
We now have a list of gids not in the tracks table.

>gid_list = genres_tracks.loc[genres_tracks['_merge'] == 'left_only','gid']

Step 3  
Use the isin() method to filter for the rows with gids in our gid_list.  
Our output shows those genres not in the tracks table.  
>gid_list = genres_tracks.loc[genres_tracks['_merge'] == 'left_only','gid']

# Steps of a semi-join
In the last video, you were shown how to perform a semi-join with pandas.  
Recall that a semi-join filters the left table to only the rows where a match exists in both the left and right tables.

Sort the steps in the correct order of the technique shown to perform a semi-join in pandas.  
Merge the left and right tables on key column using an inner join.  
Search if the key column in the left table is in the merged table susing the .isin() methond creating a Boolean series.  
Subset the rows of the left table.

# Performing an anti-join
In our music streaming company dataset, each customer is assigned an employee representative to assist them.  
In this exercise, filter the employee table by a table of top customers, returning only those employees who are not assigned to a customer.  
The results should resemble the results of an anti-join.  
The company's leadership will assign these employees additional training so that they can work with high valued customers.  

The top_cust and employees tables have been provided for you.  

Merge employees and top_cust with a left join, setting indicator argument to True. Save the result to empl_cust.

In [24]:
import pandas as pd

top_cust = pd.read_csv('top_cust.csv')
employees = pd.read_csv('employees.csv')

In [27]:
empl_cust = employees.merge(top_cust, on = 'srid', how = 'left', indicator = True)

Select the srid column of empl_cust and the rows where _merge is 'left_only'. Save the result to srid_list.

In [33]:
# Select the srid column where _merge is left_only
srid_list = empl_cust.loc[empl_cust['_merge'] == 'left_only', 'srid']

Subset the employees table and select those rows where the srid is in the variable srid_list and print the results.

In [36]:
# Get employees not working with top customers
print(employees[employees['srid'].isin(srid_list)])

   srid     lname    fname            title   hire_date  \
0     1     Adams   Andrew  General Manager   8/14/2002
1     2   Edwards    Nancy    Sales Manager    5/1/2002
5     6  Mitchell  Michael       IT Manager  10/17/2003
6     7      King   Robert         IT Staff    1/2/2004
7     8  Callahan    Laura         IT Staff    3/4/2004

                     email
0   andrew@chinookcorp.com
1    nancy@chinookcorp.com
5  michael@chinookcorp.com
6   robert@chinookcorp.com
7    laura@chinookcorp.com

# Performing a semi-join
Some of the tracks that have generated the most significant amount of revenue are from TV-shows or are other non-musical audio.  
You have been given a table of invoices that include top revenue-generating items.  
Additionally, you have a table of non-musical tracks from the streaming service.  
In this exercise, you'll use a semi-join to find the top revenue-generating non-musical tracks.  

The tables non_mus_tcks, top_invoices, and genres have been loaded for you.  

Merge non_mus_tcks and top_invoices on tid using an inner join. Save the result as tracks_invoices.  
Use .isin() to subset the rows of non_mus_tck where tid is in the tid column of tracks_invoices. Save the result as top_tracks.  
Group top_tracks by gid and count the tid rows. Save the result to cnt_by_gid.  
Merge cnt_by_gid with the genres table on gid and print the result.

In [41]:
non_mus_tcks = pd.read_csv('non_mus_tcks.txt', sep='\t')
top_invoices = pd.read_csv('top_invoices.tsv', sep='\t')
genres = pd.read_csv('genres.tsv', sep='\t')

In [46]:
# Merge the non_mus_tck and top_invoices tables on tid
tracks_invoices = non_mus_tcks.merge(top_invoices, on = 'tid', how = 'inner')

# Use .isin() to subset non_mus_tcks to rows with tid in tracks_invoices
top_tracks = non_mus_tcks[non_mus_tcks['tid'].isin(tracks_invoices['tid'])]

# Group the top_tracks by gid and count the tid rows
cnt_by_gid = top_tracks.groupby(['gid'], as_index = False).agg({'tid':'count'})

# Merge the genres table to cnt_by_gid on gid and print
print(cnt_by_gid.merge(genres, on = 'gid'))

   gid  tid      name
0   19    4  TV Shows
1   21    2     Drama
2   22    1    Comedy

# Concatenate DataFrames Together Vertically

**Basic concatenation**  
>pd.concat([inv_jan, inv_feb, inv_mar])  

**Ignoring the index**  
>pd.concat([inv_jan, inv_feb, inv_mar],ignore_index=True)  

**Setting labels to original tables**  
>pd.concat([inv_jan, inv_feb, inv_mar],  
        ignore_index=False,  
        keys=['jan','feb','mar'])"

## Concatenate tables with different column names
The concat method by default will include all of the columns in the different tables it's combining.  
The sort argument, if true, will alphabetically sort the different column names in the result.  

>pd.concat([inv_jan, inv_feb],sort=True)

## Concatenate tables with different column names 2
To return only  the matching columns between tables, set the join argument to "inner".  
The default value is equal to "outer", which is why concat by default will include all of the columns.  
Additionally, the sort argument has no effect when join equals "inner". The order of the columns will be the same as the input tables.  

> pd.concat([inv_jan, inv_feb],join='inner')

# Using append method
.append()
Simplified concat method  
Supports 'ignore_index' and 'sort'  
Does not support 'keys' and 'join'  
Always 'join = outer'

>inv_jan.append([inv_feb, inv_mar],  
                ignore_index=True,  
                sort=True)

# Concatenation basics
You have been given a few tables of data with musical track info for different albums from the metal band, Metallica.  
The track info comes from their Ride The Lightning, Master Of Puppets, and St. Anger albums.  
Try various features of the .concat() method by concatenating the tables vertically together in different ways.  

The tables tracks_master, tracks_ride, and tracks_st have loaded for you.  

Concatenate tracks_master, tracks_ride, and tracks_st, in that order, setting sort to True.

In [47]:
tracks_master = pd.read_csv('tracks_master.tsv', sep='\t')
tracks_ride = pd.read_csv('tracks_ride.tsv', sep='\t')
tracks_st = pd.read_csv('tracks_st.tsv', sep='\t')

In [50]:
# Concatenate the tracks

tracks_from_albums = pd.concat([tracks_master, tracks_ride, tracks_st], sort = True)
print(tracks_from_albums)

   aid             composer  gid  mtid                     name      tid  \
0   52  J.Hetfield/L.Ulrich    3     1               Battery  1  0  1853
1   52            K.Hammett    3     1     Master Of Puppets  1  1  1854
2   52  J.Hetfield/L.Ulrich    3     1     Disposable Heroes  1  4  1857
0  154                  NaN    3     1     Fight Fire With Fire     1874
1  154                  NaN    3     1       Ride The Lightning     1875
2  154                  NaN    3     1  For Whom The Bell Tolls     1876
3  154                  NaN    3     1            Fade To Black     1877
4  154                  NaN    3     1        Trapped Under Ice     1878
0  155                  NaN    3     1                  Frantic     1882
1  155                  NaN    3     1                St. Anger     1883
2  155                  NaN    3     1     Some Kind Of Monster     1884
3  155                  NaN    3     1             Dirty Window     1885
4  155                  NaN    3     1            Invisible Kid     1886

   u_price
0     0.99
1     0.99
2     0.99
0     0.99
1     0.99
2     0.99
3     0.99
4     0.99
0     0.99
1     0.99
2     0.99
3     0.99
4     0.99

Concatenate tracks_master, tracks_ride, and tracks_st, where the index goes from 0 to n-1.

In [52]:
tracks_from_albums = pd.concat([tracks_master, tracks_ride, tracks_st], join = 'inner', sort = True)
print(tracks_from_albums)

   aid  gid  mtid                     name      tid  u_price
0   52    3     1               Battery  1  0  1853     0.99
1   52    3     1     Master Of Puppets  1  1  1854     0.99
2   52    3     1     Disposable Heroes  1  4  1857     0.99
0  154    3     1     Fight Fire With Fire     1874     0.99
1  154    3     1       Ride The Lightning     1875     0.99
2  154    3     1  For Whom The Bell Tolls     1876     0.99
3  154    3     1            Fade To Black     1877     0.99
4  154    3     1        Trapped Under Ice     1878     0.99
0  155    3     1                  Frantic     1882     0.99
1  155    3     1                St. Anger     1883     0.99
2  155    3     1     Some Kind Of Monster     1884     0.99
3  155    3     1             Dirty Window     1885     0.99
4  155    3     1            Invisible Kid     1886     0.99

Concatenate tracks_master, tracks_ride, and tracks_st, showing only columns that are in all tables.

In [ ]:
tracks_from_albums = pd.concat([tracks_master, tracks_ride, tracks_st], ignore_index = True, sort = True)

## Concatenating with keys
The leadership of the music streaming company has come to you and asked you for assistance in analyzing sales for a recent business quarter.  
They would like to know which month in the quarter saw the highest average invoice total.  
You have been given three tables with invoice data named inv_jul, inv_aug, and inv_sep.  
Concatenate these tables into one to create a graph of the average monthly invoice total.

In [ ]:
# Concatenate the tables and add keys
inv_jul_thr_sep = pd.concat([inv_jul, inv_aug, inv_sep], 
                            keys=['7Jul', '8Aug', '9Sep'])

# Group the invoices by the index keys and find avg of the total column
avg_inv_by_month = inv_jul_thr_sep.groupby(level=0).agg({'total':'mean'})

# Bar plot of avg_inv_by_month
avg_inv_by_month.plot(kind = 'bar')
plt.show()

## Using the append method
The .concat() method is excellent when you need a lot of control over how concatenation is performed. However, if you do not need as much control, then the .append() method is another option. You'll try this method out by appending the track lists together from different Metallica albums. From there, you will merge it with the invoice_items table to determine which track sold the most.

The tables tracks_master, tracks_ride, tracks_st, and invoice_items have loaded for you.  

Use the .append() method to combine (in this order)tracks_ride, tracks_master, and tracks_st together vertically, and save to metallica_tracks.  
Merge metallica_tracks and invoice_items on tid with an inner join, and save to tracks_invoices.  
For each tid and name in tracks_invoices, sum the quantity sold column, and save as tracks_sold.  
Sort tracks_sold in descending order by the quantity column, and print the table.

In [55]:
# Use the .append() method to combine the tracks tables
metallica_tracks = tracks_ride.append([tracks_master, tracks_st], sort = False)

# Merge metallica_tracks and invoice_items
tracks_invoices = metallica_tracks.merge(invoice_items, on = 'tid', how = 'inner')

# For each tid and name sum the quantity sold
tracks_sold = tracks_invoices.groupby(['tid','name']).agg({'quantity':'sum'})

# Sort in decending order by quantity and print the results
print(tracks_sold.sort_values('quantity', ascending = False))

# Verifying Integrity

The validate and verify_integrity arguments of the merge and concat methods respectively will allow us to verify the data.  

.merge(validate=None) : Checks if merge is of specified type

>tracks.merge(specs, on='tid',validate='one_to_one')

# Verifying concatenations
.concat(verify_integrity=False) : Check whether the new concatenated index contains duplicates  
Default value is False

>pd.concat([inv_feb, inv_mar],verify_integrity=True)

# Why verify integrity and what to do  
Why:  
Real world data is often not clean  
What to do:  
Fix incorrect data  
Drop Duplicate Rows