# Inner Join

Merging is the same as joining
For this course data frames = tables

<df>.merge(df_to_merge, on = 'join field', suffixes = ('_left', '_right'))  
Use **on** to specify the join field
Use **suffixes** to specify the suffix to add to each table to account for field swith the same name

Returns only rows with matching values in the join field

In [86]:
import pickle

#Import ward data
fileName = 'ward.p'
infile = open(fileName, 'rb')
wards = pickle.load(infile)
infile.close()

#Import census data
fileName2 = 'census.p'
infile2 = open(fileName2, 'rb')
census = pickle.load(infile2)
infile2.close()

#View the imported data
print(wards.head())
print(census.head())

#merge the data with INNER JOIN
wards_census = wards.merge(census, on = 'ward', suffixes = ('_ward', '_cen'))

#View the merged data
print(wards_census[0:5])

  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649
  ward  pop_2000  pop_2010 change                                  address  \
0    1     52951     56149     6%              2765 WEST SAINT MARY STREET
1    2     54361     55805     3%                 WM WASTE MANAGEMENT 1500
2    3     40385     53039    31%                      17 EAST 38TH STREET
3    4     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL
4    5     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE

     zip
0  60647
1  60622
2  60653
3  60653
4  60637
  ward            alderman                     address_ward zip_ward  \
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE    60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE    60622
2    3          Pat Dowell          5046 SOUTH STATE STREET    60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR    60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET    60649

   pop_2000  pop_2010 change                              address_cen zip_cen
0     52951     56149     6%              2765 WEST SAINT MARY STREET   60647
1     54361     55805     3%                 WM WASTE MANAGEMENT 1500   60622
2     40385     53039    31%                      17 EAST 38TH STREET   60653
3     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL   60653
4     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE   60637

## What column to merge on?
Chicago provides a list of taxicab owners and vehicles licensed to operate within the city, for public safety. Your goal is to merge two tables together. One table is called taxi_owners, with info about the taxi cab company owners, and one is called taxi_veh, with info about each taxi cab vehicle. Both the taxi_owners and taxi_veh tables have been loaded for you and you can explore them in the console.

Choose the column you would use to merge the two tables on using the .merge() method.

turns out to be the 'vid' column as seen in the data below

In [13]:
#Import taxi_owner data
fileNameTO = 'taxi_owners.p'
infileTO = open(fileNameTO, 'rb')
taxi_owners = pickle.load(infileTO)
infileTO.close()

#Import taxi_vehicles data
fileNameTV = 'taxi_vehicles.p'
infileTV = open(fileNameTV, 'rb')
taxi_veh = pickle.load(infileTV)
infileTV.close()

print(taxi_owners[0:5])
print(taxi_veh[0:5])

     rid   vid           owner                 address    zip
0  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
2  T1495  1495   FUNRIDE, INC.     3351 W. ADDISON ST.  60618
3  T4231  4231    ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
4  T5971  5971  EUNIFFORD INC.     3351 W. ADDISON ST.  60618
    vid    make   model  year fuel_type                owner
0  2767  TOYOTA   CAMRY  2013    HYBRID       SEYED M. BADRI
1  1411  TOYOTA    RAV4  2017    HYBRID          DESZY CORP.
2  6500  NISSAN  SENTRA  2019  GASOLINE       AGAPH CAB CORP
3  2746  TOYOTA   CAMRY  2013    HYBRID  MIDWEST CAB CO, INC
4  5922  TOYOTA   CAMRY  2013    HYBRID       SUMETTI CAB CO

## Your first inner join
You have been tasked with figuring out what the most popular types of fuel used in Chicago taxis are. To complete the analysis, you need to merge the taxi_owners and taxi_veh tables together on the vid column. You can then use the merged table along with the .value_counts() method to find the most common fuel_type.  

Since you'll be working with pandas throughout the course, the package will be preloaded for you as pd in each exercise in this course. Also the taxi_owners and taxi_veh DataFrames are loaded for you.  

Merge taxi_owners with taxi_veh on the column vid, and save the result to taxi_own_veh.  

Set the left and right table suffixes for overlapping columns of the merge to _own and _veh, respectively.  

Select the fuel_type column from taxi_own_veh and print the value_counts() to find the most popular fuel_types used.

In [16]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())

HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: fuel_type, dtype: int64

## Inner joins and number of rows returned
All of the merges you have studied to this point are called inner joins. It is necessary to understand that inner joins only return the rows with matching values in both tables. You will explore this further by reviewing the merge between the wards and census tables, then comparing it to merges of copies of these tables that are slightly altered, named wards_altered, and census_altered. The first row of the wards column has been changed in the altered tables. You will examine how this affects the merge between them. The tables have been loaded for you.  

For this exercise, it is important to know that the wards and census tables start with 50 rows.  

Merge wards and census on the ward column and save the result to wards_census.  

Merge the wards_altered and census tables on the ward column, and notice the difference in returned rows.  

Merge the wards and census_altered tables on the ward column, and notice the difference in returned rows

In [52]:
import pandas as pd
census_altered = pd.read_csv('census_altered.txt', sep = "\t")
print(census_altered[0:5])

wards_altered = pd.read_csv('wards_altered.txt', sep = "\t")
print(wards_altered[0:5])


census['ward'] = census['ward'].astype(int)
wards['ward'] = wards['ward'].astype(int)
wards_altered['ward'] = wards_altered['ward'].astype(int)
census_altered['ward'] = census_altered['ward'].replace(to_replace = "None", value = "0")
census_altered['ward'] = census_altered['ward'].astype(int)

   ward  pop_2000  pop_2010 change                                   address  \
0  None     52951     56149     6%              2765 WEST SAINT MARY STREET
1     2     54361     55805     3%                 WM WASTE MANAGEMENT 1500
2     3     40385     53039    31%                      17 EAST 38TH STREET
3     4     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL
4     5     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE

     zip
0  60647
1  60622
2  60653
3  60653
4  60637
   ward             alderman                           address    zip
0    61    Proco Joe Moreno         2058 NORTH WESTERN AVENUE   60647
1     2      Brian Hopkins          1400 NORTH ASHLAND AVENUE   60622
2     3         Pat Dowell            5046 SOUTH STATE STREET   60609
3     4    William D. Burns   435 EAST 35TH STREET, 1ST FLOOR   60616
4     5  Leslie A. Hairston             2325 EAST 71ST STREET   60649
  ward  pop_2000  pop_2010 change                                   address  \
0    0     52951     56149     6%              2765 WEST SAINT MARY STREET
1    2     54361     55805     3%                 WM WASTE MANAGEMENT 1500
2    3     40385     53039    31%                      17 EAST 38TH STREET
3    4     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL
4    5     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE

     zip
0  60647
1  60622
2  60653
3  60653
4  60637

In [53]:
# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on = 'ward')

# Print the shape of wards_census
print('wards_census table shape:', wards_census.shape)

wards_census table shape: (50, 9)

In [54]:
# Print the first few rows of the wards_altered table to view the change 
print(wards_altered[['ward']].head())

# Merge the wards_altered and census tables on the ward column
wards_altered_census = wards_altered.merge(census, on = 'ward')

# Print the shape of wards_altered_census
print('wards_altered_census table shape:', wards_altered_census.shape)

   ward
0    61
1     2
2     3
3     4
4     5
wards_altered_census table shape: (49, 9)

In [56]:
# Print the first few rows of the census_altered table to view the change 
print(census_altered[['ward']].head())

# Merge the wards and census_altered tables on the ward column
wards_census_altered = wards.merge(census_altered, on = 'ward')

# Print the shape of wards_census_altered
print('wards_census_altered table shape:', wards_census_altered.shape)

   ward
0     0
1     2
2     3
3     4
4     5
wards_census_altered table shape: (49, 9)

In [61]:
#Import licenses data
fileNameLIC = 'licenses.p'
infileLIC = open(fileNameLIC, 'rb')
licenses = pickle.load(infileLIC)
infileLIC.close()

#Import business owners data
fileNameBO = 'business_owners.p'
infileBO = open(fileNameBO, 'rb')
biz_owners = pickle.load(infileBO)
infileBO.close()
print(licenses[0:5])
print(biz_owners[0:5])

  account ward  aid                   business               address    zip
0  307071    3  743       REGGIE'S BAR & GRILL       2105 S STATE ST  60616
1      10   10  829                 HONEYBEERS   13200 S HOUSTON AVE  60633
2   10002   14  775                CELINA DELI     5089 S ARCHER AVE  60632
3   10005   12  NaN  KRAFT FOODS NORTH AMERICA        2005 W 43RD ST  60609
4   10044   44  638  NEYBOUR'S TAVERN & GRILLE  3651 N SOUTHPORT AVE  60613
  account first_name  last_name      title
0      10      PEARL    SHERMAN  PRESIDENT
1      10      PEARL    SHERMAN  SECRETARY
2   10002     WALTER     MROZEK    PARTNER
3   10002     CELINA     BYRDAK    PARTNER
4   10005      IRENE  ROSENFELD  PRESIDENT

# One to Many Relationships

1:1 - every row in one table is related to only one row in another table  
1:Many - every row in one table is associated with one or more rows in another table  

## One-to-many classification
Understanding the difference between a one-to-one and one-to-many relationship is a useful skill.  
In this exercise, consider a set of tables from an e-commerce website. The hypothetical tables are the following:  

A customer table with information about each customer  
A cust_tax_info table with customers unique tax IDs  
An orders table with information about each order  
A products table with details about each unique product sold  
An inventory table with information on how much total inventory is available to sell for each product  

Select the relationship type that is most appropriate for the relationship between the different tables: One-to-one, or One-to-many.
- customer --> cust_tax_info = 1:1
- products --> inventory = 1:1
- customers --> orders = 1:Many
- products --> orders = 1:Many

## One-to-many merge
A business may have one or multiple owners. In this exercise, you will continue to gain experience with one-to-many merges by merging a table of business owners, called biz_owners, to the licenses table. Recall from the video lesson, with a one-to-many relationship, a row in the left table may be repeated if it is related to multiple rows in the right table. In this lesson, you will explore this further by finding out what is the most common business owner title. (i.e., secretary, CEO, or vice president)

The licenses and biz_owners DataFrames are loaded for you.  

Starting with the licenses table on the left, merge it to the biz_owners table on the column account, and save the results to a variable named licenses_owners.  
Group licenses_owners by title and count the number of accounts for each title. Save the result as counted_df  
Sort counted_df by the number of accounts in descending order, and save this as a variable named sorted_df.  
Use the .head() method to print the first few rows of the sorted_df.

In [71]:
# Merge the licenses and biz_owners table on account
licenses_owners = licenses.merge(biz_owners, on = 'account')

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby('title').agg({'account':'count'})

# Sort the counted_df in desending order
sorted_df = counted_df.sort_values(by = ['account'], ascending = False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970

# Merging Multiple Data Frames

grants_licenses_ward = grants.merge(licenses, on=['address','zip']) \
                        .merge(wards, on='ward', suffixes=('_bus','_ward'))
grants_licenses_ward.head()

First merges the grants table with licenses on address and zip  
Then that result is merged with wards on the ward field  

##T otal riders in a month
Your goal is to find the total number of rides provided to passengers passing through the Wilson station (station_name == 'Wilson') when riding Chicago's public transportation system on weekdays (day_type == 'Weekday') in July (month == 7). Luckily, Chicago provides this detailed data, but it is in three different tables. You will work on merging these tables together to answer the question. This data is different from the business related data you have seen so far, but all the information you need to answer the question is below.  

The cal, ridership, and stations DataFrames have been loaded for you. The relationship between the tables can be seen in the diagram below.  

Merge the ridership and cal tables together, starting with the ridership table on the left and save the result to the variable ridership_cal. If you code takes too long to run, your merge conditions might be incorrect.  
ONCE AGAIN DATACAMP FAILS TO MAKE THE DATA AVAILABLE SO THE CODE BELOW WILL FAIL, BUT IT LOOKS NICE RIGHT :)

In [72]:
# Merge the ridership and cal tables
ridership_cal = ridership.merge(cal, on = ['year', 'month', 'day'])

NameError: name 'ridership' is not defined

Extend the previous merge to three tables by also merging the stations table.

In [ ]:
# Merge the ridership, cal, and stations tables
ridership_cal_stations = ridership.merge(cal, on=['year','month','day']) \
            				.merge(stations, on=['station_id'])

Create a variable called filter_criteria to select the appropriate rows from the merged table so that you can sum the rides column.

In [ ]:
# Merge the ridership, cal, and stations tables
ridership_cal_stations = ridership.merge(cal, on=['year','month','day']) \
							.merge(stations, on='station_id')

# Create a filter to filter ridership_cal_stations
filter_criteria = ((ridership_cal_stations['month'] == 7) 
                   & (ridership_cal_stations['day_type'] == 'Weekday') 
                   & (ridership_cal_stations['station_name'] == 'Wilson'))

# Use .loc and the filter to select for rides
print(ridership_cal_stations.loc[filter_criteria, 'rides'].sum())

## Three table merge
To solidify the concept of a three DataFrame merge, practice another exercise. A reasonable extension of our review of Chicago business data would include looking at demographics information about the neighborhoods where the businesses are. A table with the median income by zip code has been provided to you. You will merge the licenses and wards tables with this new income-by-zip-code table called zip_demo.

The licenses, wards, and zip_demo DataFrames have been loaded for you.  

Starting with the licenses table, merge to it the zip_demo table on the zip column.  
Then merge the resulting table to the wards table on the ward column.  
Save result of the three merged tables to a variable named licenses_zip_ward.  
Group the results of the three merged tables by the column alderman and find the median income.

In [90]:
#Import zip_demo data
fileNameZD = 'zip_demo.p'
infileZD = open(fileNameZD, 'rb')
zip_demo = pickle.load(infileZD)
infileZD.close()

wards0 = wards.copy()
wards0['ward'] = wards0['ward'].astype(object)
wards0[0:5]

  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649

In [91]:
# Merge licenses and zip_demo, on zip; and merge the wards on ward
licenses_zip_ward = licenses.merge(zip_demo, on = ['zip']) \
            			.merge(wards0, on = 'ward')

# Print the results by alderman and show median income
print(licenses_zip_ward.groupby('alderman').agg({'income':'median'}))

                             income
alderman
Ameya Pawar                 66246.0
Anthony A. Beale            38206.0
Anthony V. Napolitano       82226.0
Ariel E. Reyboras           41307.0
Brendan Reilly             110215.0
Brian Hopkins               87143.0
Carlos Ramirez-Rosa         66246.0
Carrie M. Austin            38206.0
Chris Taliaferro            55566.0
Daniel "Danny" Solis        41226.0
David H. Moore              33304.0
Deborah Mell                66246.0
Debra L. Silverstein        50554.0
Derrick G. Curtis           65770.0
Edward M. Burke             42335.0
Emma M. Mitts               36283.0
George Cardenas             33959.0
Gilbert Villegas            41307.0
Gregory I. Mitchell         24941.0
Harry Osterman              45442.0
Howard B. Brookins, Jr.     33304.0
James Cappleman             79565.0
Jason C. Ervin              41226.0
Joe Moore                   39163.0
John S. Arena               70122.0
Leslie A. Hairston          28024.0
Margaret Laurino            70122.0
Marty Quinn                 67045.0
Matthew J. O'Shea           59488.0
Michael R. Zalewski         42335.0
Michael Scott, Jr.          31445.0
Michelle A. Harris          32558.0
Michelle Smith             100116.0
Milagros "Milly" Santiago   41307.0
Nicholas Sposato            62223.0
Pat Dowell                  46340.0
Patrick Daley Thompson      41226.0
Patrick J. O'Connor         50554.0
Proco "Joe" Moreno          87143.0
Raymond A. Lopez            33959.0
Ricardo Munoz               31445.0
Roberto Maldonado           68223.0
Roderick T. Sawyer          32558.0
Scott Waguespack            68223.0
Susan Sadlowski Garza       38417.0
Tom Tunney                  88708.0
Toni L. Foulkes             27573.0
Walter Burnett, Jr.         87143.0
William D. Burns           107811.0
Willie B. Cochran           28024.0

## One-to-many merge with multiple tables
In this exercise, assume that you are looking to start a business in the city of Chicago.  
Your perfect idea is to start a company that uses goats to mow the lawn for other businesses.  
However, you have to choose a location in the city to put your goat farm.  
You need a location with a great deal of space and relatively few businesses and people around to avoid complaints about the smell.  
You will need to merge three tables to help you choose your location.  
The land_use table has info on the percentage of vacant land by city ward.  
The census table has population by ward, and the licenses table lists businesses by ward.  

The land_use, census, and licenses tables have been loaded for you.  

Merge land_use and census on the ward column.  
Merge the result of this with licenses on the ward column, using the suffix _cen for the left table and _lic for the right table.  
Save this to the variable land_cen_lic.

In [92]:
#Import land_use data
fileNameLU = 'land_use.p'
infileLU = open(fileNameLU, 'rb')
land_use = pickle.load(infileLU)
infileLU.close()

In [95]:
# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on = ['ward']) \
    .merge(licenses, on = ['ward'], suffixes = ['_cen', '_lic'])
print(land_cen_lic[0:5])

  ward  residential  commercial  industrial  vacant  other  pop_2000  \
0    1           41           9           2       2     46     52951
1    1           41           9           2       2     46     52951
2    1           41           9           2       2     46     52951
3    1           41           9           2       2     46     52951
4    1           41           9           2       2     46     52951

   pop_2010 change                  address_cen zip_cen account  aid  \
0     56149     6%  2765 WEST SAINT MARY STREET   60647   12024  NaN
1     56149     6%  2765 WEST SAINT MARY STREET   60647   14446  743
2     56149     6%  2765 WEST SAINT MARY STREET   60647   14624  775
3     56149     6%  2765 WEST SAINT MARY STREET   60647   14987  NaN
4     56149     6%  2765 WEST SAINT MARY STREET   60647   15642  814

               business              address_lic zip_lic
0   DIGILOG ELECTRONICS       1038 N ASHLAND AVE   60622
1      EMPTY BOTTLE INC   1035 N WESTERN AVE 1ST   60622
2  LITTLE MEL'S HOT DOG    2205 N CALIFORNIA AVE   60647
3    MR. BROWN'S LOUNGE   2301 W CHICAGO AVE 1ST   60622
4          Beat Kitchen  2000-2100 W DIVISION ST   60622

Group land_cen_lic by ward, pop_2010 (the population in 2010), and vacant, then count the number of accounts.  
Save the results to pop_vac_lic.

In [97]:
# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                    .merge(licenses, on='ward', suffixes=('_cen','_lic'))

# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward', 'pop_2010', 'vacant'], 
                                   as_index=False).agg({'account':'count'})

Sort pop_vac_lic by vacant, account, and pop_2010 in descending, ascending, and ascending order respectively.  
Save it as sorted_pop_vac_lic.

In [98]:
# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                    .merge(licenses, on='ward', suffixes=('_cen','_lic'))

# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward','pop_2010','vacant'], 
                                   as_index=False).agg({'account':'count'})

# Sort pop_vac_lic and print the results
sorted_pop_vac_lic = pop_vac_lic.sort_values(by = ['vacant', 'account', 'pop_2010'], 
                                             ascending=[False, True, True])

# Print the top few rows of sorted_pop_vac_lic
print(sorted_pop_vac_lic.head())

   ward  pop_2010  vacant  account
47    7     51581      19       80
12   20     52372      15      123
1    10     51535      14      130
16   24     54909      13       98
7    16     51954      13      156